@page "/checkout"
@using LibraryManagementSystem.DatabaseManager
@using LibraryManagementSystem.Exceptions
@using LibraryManagementSystem.Models.Interfaces
@using LibraryManagementSystem.Models.Items
@using LibraryManagementSystem.Models.Users

<div>
    <h2>Checkout</h2>

    <div style="display: flex; flex-direction: column; gap: 10px;">
        <div>
            <label>Item id: </label>
            <input @bind="itemId" />

            <p style="font-size: 18px; color: red;">@err</p>
            <button @onclick="ContinueFromItemIdInput">Continue</button>

            @if (item != null)
            {
                <h3>@item.ToString()</h3>

                <button style="width: fit-content" @onclick="CheckOut">Checkout</button>
                <p style="font-size: 18px; color: green;">@successStatus</p>

            }
            else
            {
                <p style="font-size: 18px; color: red;">@noItemStatus</p>
            }

        </div>
    </div>
</div>

@code {

    private int? itemId;
    private static IBorrowable? item;
    private string? err, noItemStatus, successStatus;


    private void CheckOut()
    {
        try
        {
            MauiProgram.currUser!.HandleBorrow(item!);
            successStatus = "Checkout is done!";
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }

    // Action after user clicks 'Continue' after entering item id
    private void ContinueFromItemIdInput()
    {
        try
        {
            if (!itemId.HasValue) throw new EmptyInputError("Item id");

            Book? book = LibraryItemsManager.GetBook(itemId.Value);
            DVD? dvd = LibraryItemsManager.GetDVD(itemId.Value);

            if (book != null) item = book;
            else if (dvd != null) item = dvd;
            else noItemStatus = "No item found";

        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }
}