@page "/checkout"
@using LibraryManagementSystem.DatabaseManager
@using LibraryManagementSystem.Exceptions
@using LibraryManagementSystem.Models.Interfaces
@using LibraryManagementSystem.Models.Users
@using LibraryManagementSystem.Models;
@using LibraryManagementSystem.Models.Items;

<div>
    <h2>Checkout</h2>

    <div style="display: flex; flex-direction: column; gap: 10px;">
        <div>
            <label>User id: </label>
            <input @bind="userId" />
            <button @onclick="ContinueFromUserIdInput">Continue</button>
            @if (user != null)
            {
                <h3>@user.ToString()</h3>
            }
        </div>


        @if (user != null)
        {
            <div>
                <label>Item id: </label>
                <input @bind="itemId" />
                <button @onclick="ContinueFromItemIdInput">Continue</button>

                @if (item != null)
                {
                    <h3>@item.ToString()</h3>
                }

            </div>

            @if (item != null)
            {
                <button style="width: fit-content" @onclick="CheckOut">Checkout</button>
            }
        }
    </div>
    <p style="color: red; font-size: 18px;">@err</p>
</div>

@code {

    private int? userId;
    private int? itemId;
    private IUser? user;
    private static IBorrowable? item;
    private string? err;


    private void CheckOut()
    {
        try
        {
            user.HandleBorrow(item);
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }

    // Action after user clicks 'Continue' after entering userid

    private void ContinueFromUserIdInput()
    {
        try
        {
            if (!userId.HasValue) throw new EmptyInputError("User id");
            user = UsersManagement.GetUser(userId.Value);
        }
        catch (Exception ex)
        {
            err = ex.Message;

        }
    }

    // Action after user clicks 'Continue' after entering item id
    private void ContinueFromItemIdInput()
    {
        try
        {
            if (!itemId.HasValue) throw new EmptyInputError("Item id");

            ILibraryItem? item = LibraryItemsManager.GetItem(itemId.Value);

            if (item is IBorrowable localItem)
            {
                user.HandleBorrow(localItem);
            }
        }
        catch (Exception ex)
        {
            err = ex.Message;
        }
    }
}