@using LibraryManagementSystem.DatabaseManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LibraryManagementSystem</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Items Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="checkout">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Checkout
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="return">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Return
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addPerson">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Add Person
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="updateDatabase">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Update database
            </NavLink>
        </div>
    </nav>
</div>